
<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="businessUtilisateur">
<head >
<title>AirBrass : Vos Meilleures Air Guitares </title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
<script src="js/jquery-1.11.0.min.js"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--start-menu-->
<script src="js/simpleCart.min.js"> </script>
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src="js/jquery.easydropdown.js"></script>		
<script src="js/angular.min.js"></script>
<script src="script/utilisateur.js"></script>	
</head>
<body> 
<form>
	<!--top-header-->
	<div id="new-header">
        <script>
            $("#new-header").load("header.html");
        </script>
    </div>
	<!--bottom-header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Compte</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--account-starts-->
	<div class="account" ng-controller="BUConnect">
		<div class="container">
		<div class="account-top heading">
				<h2>COMPTE</h2>
			</div>
			<div class="account-main">
				<div class="col-md-6 account-left">
					<h3>Utilisateur existant</h3>
					<div class="account-bottom">
						<input placeholder="Email" type="text" tabindex="3"  ng-model="login">
						<input placeholder="mot de passe" type="password" tabindex="4" ng-model="password">
						<div class="address">
							<a class="forgot" href="forgotten-password.html">Mot-de-passe oublié?</a>
							<input type="submit" value="Login" onclick="#" ng-click="connect()" />
						</div>
					</div>
				</div>
				<div class="col-md-6 account-right account-left">
					<h3>Nouvel Utilisateur? Créer un compte</h3>
					<p>En créant un compte sur notre site, vous commander nos produits plus facilement, enregistrer plusieurs adresses de livraison, suivre vos commandes et bien plus encore.</p>
					<a href="register.html">Créer un compte</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--account-end-->
	<!--information-starts-->
	<div id="new-footer">
        <script>
            $("#new-footer").load("footer.html");
        </script>
    </div>
    </form>
	<!--footer-end-->	
</body>
</html>